Django==3.0
django-mongoengine
mongoengine==0.28.2
django-environ
djangorestframework==3.*
django-filter
markdown
requests
blinker==1.*
pymongo
# Security
django-axes
django-admin-honeypot-updated-2021
django-cors-middleware
django-cors-headers